body {
  font-family: "Courier New", Courier, monospace;
}

button {
  font-family: inherit;
}

.stories {
  margin: 1% auto auto auto;
}

.stories-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
  align-items: center;
  padding: 1em;
  overflow: auto;
}
.story {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  align-self: start;
}
.highlight {
  background-color: #4188f4;
  color: yellow;
  opacity: 1;
  border-radius: 5px;
}

.loading {
  height: 667px;
  width: 375px;
  margin: auto;
}