.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
  align-items: center;
  padding: 1em;
  margin: 1% auto;
}
.story {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  align-self: start;
}
.highlight {
  background-color: blue;
  color: yellow;
}